[2020-07-04 17:01] foudfou commented on #826
@SvenRoederer any hints on creating the "section" manually ? Possibly with appropriate firewall zones/rules ?
So i tried to remove `eth0` from the `freifunk` zone, and create a static network called "WAN" on eth0. But wifi clients still can't reach the internet. I'll check if tunnel-digger is up.

[2020-07-06 23:23] sarumpaet commented on #819
By "flexibility" I meant the whole approach (POSTing data) as opposed to the things mentioned in the first posting (e.g., `respondd` implements UDP based mesh information distribution, which is great for certain use cases, but horrible in terms of flexibility and debug-ability).

While I thought this ticket is mainly about the map, I like the idea of merging the client side of monitor and map. col

[2020-07-07 20:40] SvenRoederer commented on #819
Right, comparing the amount of client-side code that we currently need monitoring and map, in comparison to the Potsdam-solution, we have a very bad ratio.

Another argument for reimplementing this features is, that we can design it more flexible in terms of link reporting. This will help in gathering link data (#778, #779), which currently relies on olsrd only.

[2020-07-08 10:31] booo commented on #819
As far as I get the situation everybody is in favour of a simple and maintainable script that pushes metrics about the router to a database.

I suggest someone makes a concrete proposal for a script and creates a first package. We can discuss the script and changes to the script once we have a prototype.

I don't want to maintain multiple scripts but for a limited time we can have both scripts in

[2020-07-08 13:58] nickbash11 commented on #726
I did it [that way](https://github.com/nickbash11/mesh-blocker)

[2020-07-08 14:07] nickbash11 commented on #726
I did it [that way](https://github.com/nickbash11/mesh-blocker)

[2020-07-08 21:07] SvenRoederer commented on #726
@mweinelt Any idea if hostapd is working on this?

@nickbash11 your package makes it quite nice to use this function, even the bash script might not be the most ressource effective solution. I see some use for it and this package might provide a solution for the scenario mentioned by @goofus in comment https://github.com/freifunk-berlin/firmware/issues/726#issuecomment-527062302.

[2020-07-08 21:18] SvenRoederer commented on #819
So we should at first think of some kind of API, the server will provide / accept.

[2020-07-08 21:57] SvenRoederer commented on #826
@kls0e has written something on the Mailinglist recently (https://lists.berlin.freifunk.net/pipermail/berlin/2020-June/040656.html)

[2020-07-08 22:49] SvenRoederer opened #830 "patches: openwrt/imagebuilder-custom-postinst-script: does not apply on recent OpenWrt-19.07"
I just tried to compile branch "master-monthly" (c8d5270286623df24bbe3178e0d55c6a6040cc93) and found it fails on patching.
[code]

So there must be something conflicting in 520581d11b6f118ebd49b8a1504063f7a3cface8.

[2020-07-08 22:53] SvenRoederer commented on #830
To get such things detected automatically it would be really great to get a CI / CT working. It might be the buildbot or an alternative as discussed in #804 .

To ease updating the patches merging #794 would also much appreciated.

[2020-07-09 04:03] nickbash11 commented on #726
@SvenRoederer I use it to prevent uninvited guests and any pests, because authsae decreases common speed of mesh network as I wrote in [this post](https://forum.openwrt.org/t/setting-up-authenticated-mesh-with-wpad-mesh/12399/98?u=nybash). It looks like an incompatibility with ath9k I think.

[2020-07-09 10:57] Akira25 commented on #824
That's right. Actually I'd like to have a chat on markdown. I'd prefer to migrate the current README.md to reStructuredText format. I see some considerable arguments for that:

+ reStructuredText supports more sophisticated use cases like references and footnotes
+ In Opposition to mardown, there is only one flavour of rst files
+ as it's pretty distinct, it's easy to automatically transfer it int

[2020-07-09 11:25] mweinelt commented on #726
Not to my knowledge.

[2020-07-09 16:17] PolynomialDivision commented on #726
@goofus u can use my fork https://github.com/Freifunk-Spalter/packages and build your own freifunk image with full iw package using openwrt image builder.
If u have any questions how to use it, just mention me in matrix channel.

[2020-07-09 21:01] SvenRoederer commented on #726
By theory when meshing over LAN and meshing over WiFi, the Routing-daemon should prefer the wired link. That's what I would expect. So on the wireless link there should only be "hello" traffic, which should not have a huge impact. But in case the LAN-link fails, the Wifi-link should jump in quite quickly.
Also as @mweinelt  mentioned excluding a client will need need to be done on every reconnect.

[2020-07-09 21:19] PolynomialDivision commented on #726
It is more a tidied-up feed. ;) That is exactly the usecase why I forked, since I wanted to build my own images with imagebuilder and easily add packages, compile stuff, or install things with opkg.

[2020-07-09 21:23] SvenRoederer commented on #726
As you talk on authsae: have a look at https://github.com/freifunk-gluon/gluon/issues/1636#issuecomment-464229021 which references that authsae was dropped upstream, as it was not working well.

[2020-07-09 21:46] SvenRoederer commented on #824
I'll happily support an approach to improve the documentation. Reducing the size of the top-level Readme would also be great.

As Github seems not to render .rst I see the problem tool / other external service to render the docs and have them separate from the repo.

[2020-07-09 22:15] Akira25 commented on #824
Thats a nice idea. I plan to finish #825 first and go to split the README.md into a doc-directory afterwards, with a little README.md remaining in the repositories root.
I'd like to do it that way round, so we get a first usable version rather quick, instead of including every aspect at once.

I agree, that there are some problems in rendering special features of rst. For example references and `.

[2020-07-10 04:19] nickbash11 commented on #726
Anyway, devices with ath9k do not work properly with SAE.

[2020-07-10 18:59] SvenRoederer commented on #726
Not sure if we should capture this issue to discuss on SAE, esp for ath9k.

@goofus Not sure if my suggestion in https://github.com/freifunk-berlin/firmware/issues/726#issuecomment-656349226 will fit your needs and I don't see a great interest in switching to iw-full. But feel free to open a PR, I don't see a reason for vetoing.

[2020-07-15 22:45] SvenRoederer commented on #830
fixed by 835bcb9  & 9d62f88 (for daily-branch)

[2020-07-15 22:45] #830 closed

[2020-07-15 23:01] SvenRoederer opened #831 "luci-mod-freifunk-ui: footer(?) missing woth recent OpenWrt-19.07"
### Bug report

**What is the problem?**
the 3 buttons "Freifunk", "Administration", "OpenWiFiMap" are missing in builds based on recent OpenWrt-19.07.
![Screenshot_20200716_005118](https://user-images.githubusercontent.com/1755362/87608075-46806080-c6ff-11ea-9b49-ce2d850f25a9.png)
Without these options / buttons it's not possible to login unless you know the URL.
I think this must relate to code

[2020-07-15 23:01] SvenRoederer commented on #831
A fix for this will probably also fix #823

[2020-07-19 20:48] SvenRoederer opened #832 "LuCI configuration-change: timeout of confirmation triggers rollback"
### Bug report

**What is the problem?**
Changing Network or olsr parameters via LuCI will not apply, as they get reverted.

**What is the expected behavior?**
A change of these parameters should be applied.
Currently it seems to fail as the new LuCI (OpenWrt-19.07) waits for a confirmation for the client (JS-code) that the changes are woking. There is a 30 seconds timeout for this. A change on so

[2020-07-21 12:38] everloop2 commented on #722
Was a tplink_cpe210-v2 (1xLAN).

Trying build branch cpe210 fails due gcc10 support check fails (arch linux): https://patchwork.ozlabs.org/project/openwrt/patch/20200318183943.529630-1-robimarko@gmail.com/

[2020-07-21 20:46] SvenRoederer commented on #722
Yeah, I see your build issues are only with our outdated master-branch.

The "mksquashfs"-bug mentioned is already backported to 19.07 (https://github.com/openwrt/openwrt/commit/059db419d7dfbf8e27c49b1f6b88e8170d659088). -

Probably you want to give a build of https://github.com/SvenRoederer/freifunk-berlin-firmware/commits/nightly/upstream-1907 a chance. I can also share you the prebuild imagebui

[2020-07-22 08:11] SvenRoederer opened #833 "snmp-addons: Option "Instance" is deprecated"
### Bug report

**What is the problem?**
when installing the collectd-snmp-addon to monitor Ubiquiti devices I get the following wraning on bootup:
[code]

**What is the expected behaviour?**
This should be fixed before this option will be removed upstream

**Firmware Version:**
collectd-mod-snmp - 5.11.0-7 - from a recent OpenWrt-19.07

[2020-07-22 15:19] everloop2 commented on #722
canceled building https://github.com/freifunk-berlin/firmware/commits/openwrt-19.07.3

did a build for: https://github.com/SvenRoederer/freifunk-berlin-firmware/commits/nightly/upstream-1907 on Linux 5.7.9-1-MANJARO (x86_64)

openwrt gcc 10: internal compiler error: Segmentation fault > 1times in early build process > seems doesnt like multithreaded building (make -j4)

make -j1 > build continues

[2020-07-22 20:25] SvenRoederer commented on #722
Based on the version-string of your firmware you built my repos master branch (OpenWrt-19.07 of 21st June) and not on "nightly/upstream-1907" branch (recent OpenWrt-19.07). I expect this to be the cause of the build-failure you have seen.

That's great to hear, so its proofed that CPE210v2 is working without wifi-issues. As per https://git.openwrt.org/?p=openwrt/openwrt.git;a=commit;h=141698ce8fbc

[2020-07-22 20:32] SvenRoederer commented on #722
@Mitzlaff @everloop2 shall we close this?

[2020-07-23 11:01] everloop2 commented on #722
Close, wifi has been fixed, other bugs > other issues.

yep no bugs ;)
* ssh working
* mesh working > speedtest > almost max. connetion (10mbit here)

[2020-07-25 23:20] #722 closed

[2020-07-27 11:47] everloop2 commented on #712
Yes, still no fix for 7320 LAN connect bug - Gluon did not add, if we add we have to mention LAN1 quirks.

7330SL seems good except dead 2nd LAN.

[2020-07-28 21:59] SvenRoederer commented on #712
Somebody is willing to create a PR for the 7330SL?

[2020-07-28 22:32] kls0e commented on #712
I don‘t know, people don‘t want it because LAN2 is defunct and LAN1 only works if the port is connected at boot time so maybe we will not support it officially.

[2020-07-28 23:34] SvenRoederer commented on #712
isn't this only valid for 7320, as mentioned by @everloop2 ?

having the LAN2 defunct at all on the 7330SL seems acceptable, as we have non-functioning SFP-ports on most boards

[2020-07-31 21:00] SvenRoederer commented on #712
but as you opened the issue, you are free to close it, as it turns out the hardware-support is not in an acceptable state.

[2020-08-01 05:09] kls0e commented on #712
@SvenRoederer okay, i will kls0e the issue for now. thanks for caring tho :)

[2020-08-01 05:09] #712 closed

[2020-08-02 19:46] SvenRoederer commented on #674
Even new maintainers have been found (https://github.com/OLSR/olsrd/pull/79, https://github.com/openwrt-routing/packages/pull/575) there will be very unlikely active development of new features.

[2020-08-02 19:48] SvenRoederer commented on #602
Issues like this should be considered when working on #804 .

[2020-08-02 20:01] SvenRoederer opened #834 "OpenWrt-base for developing next release (year 2020)"
Currently we are in much the same situation as in #583 two years ago. It seems OpenWrt is trying to branch a 20.x version "soon" and I suggest again to switch to OpenWrt-master in order to prepare the next minor release (which was already targeted in #583).

Again, we have exact the same situation, we had before. So the same arguments for the switch rather soon than later. In addition @PolynomialD

[2020-08-04 15:24] Akira25 commented on #674
Is there any feature you would like to have implemented? By the modular nature of OLSRv1 it should be rather easy to do so. As far as I can see, there is currently no stable routing protocol which provides the same features as OLSRv1 now, right?

[2020-08-04 15:45] Akira25 commented on #674
In addition, as effectively Freifunk Berlin is now the maintainer of OLSR, it's future should be assured for a long time. Nevertheless we might have some discussions on other routing protocols. As this issue addresses specifically the maintenance of OLSR, which is resolved, I'd like to have this closed.

[2020-08-06 07:19] SvenRoederer commented on #834
Probably it was a bit unspecific in the headline and #583. This is not about using OpenWrt-master on the final released firmware, it's about switching to OpenWrt-master now and adapt the Firmware to work on it. This way we have a chance to have some working code ready, wen OpenWrt 20.x is released.

[2020-08-06 08:57] everloop2 commented on #832
in recent versions of openwrt seen 60-90sec session timeouts

luci-base: extend rollback timeout to 90 seconds
https://git.openwrt.org/?p=project/luci.git;a=commit;h=81cf99a50706a75a2259296e4aab3f7b3bf5d54e

[2020-08-09 13:20] everloop2 commented on #712
gluon did not add **FritzBox7320** cause of LAN1 bugged (has to be connected at boot time) and LAN2 is dead.

https://github.com/freifunk-gluon/gluon/issues/1943#issuecomment-610943676

https://bugs.openwrt.org/index.php?do=details&task_id=2240&string=fritz&type%5B0%5D=&sev%5B0%5D=&pri%5B0%5D=&due%5B0%5D=&reported%5B0%5D=&cat%5B0%5D=&status%5B0%5D=open&percent%5B0%5D=&opened=&dev=&closed=&duedatef

[2020-08-10 22:50] SvenRoederer commented on #674
By the words of the Headline of the issue, you are right.
And yes, even being the maintainer doesn't makes olsr a better protocol.

[2020-08-10 22:50] #674 closed

[2020-08-12 12:14] Akira25 commented on #674
@SvenRoederer I disgree strongly on the implication, that OLSR is a bad routing protocol. In terms of scaling for example it's great and far better than batman.
We had a talk on meshing and some routing protocols on HdS last week on wednesday. If you want to have a discussion on a new routing protocol, you should maybe show up on some wednesday meetup at HdS,
There are quite a lot people, who can

[2020-08-18 21:24] SvenRoederer commented on #712
@everloop2 that for this closing review, but @kls0e seems not interested in these boards anymore.

[2020-08-19 23:13] SvenRoederer commented on #814
Most of the mentioned patches have been accepted upstream (https://github.com/openwrt/luci/pull/2817#issuecomment-660873641; https://github.com/openwrt/luci/commit/3b2a1e9e1129e77c4ebd5e7ace35653969f2d515#diff-2d8a7a9b9acd99058ff6f4d496ea6ebe) and only 2 patches pending as https://github.com/openwrt/luci/pull/2637.

[2020-08-19 23:15] SvenRoederer commented on #817
I updated https://github.com/openwrt/luci/pull/2637 an looking forward to get it merged in openwrt-20.x

[2020-08-26 05:26] SvenRoederer commented on #819
Btw: my 4/32MB node is back on monitoring: https://monitor.freifunk-potsdam.de/grafana/d/000000008/node-overview?orgId=2&var-hostname=Ahof-frieden01&refresh=5m

[2020-09-06 10:50] SvenRoederer commented on #808
This very likely relates to https://github.com/freifunk/openwrt-packages/issues/24

[2020-09-07 22:04] SvenRoederer commented on #834
I just updated PR #802 to OpenWrt-19.07.4, but no matter is this will be merged I'll use this point to branch of a OpenWrt-2020.x based series on my personal repo and stop working on 19.07.

[2020-09-11 20:04] SvenRoederer opened #836 "wolfSSL vs. mbedTLS"
OpenWrt switched to use wolfSSL on master (pre 20.xx), we are currently using mbedTLS. Should we also switch to wolfSSL or stay with mbedTLS.

[2020-09-15 08:06] PolynomialDivision commented on #708
@pmelange

I like c. :P Sometimes u need a small efficient daemon.

@CodeFetch

I don't understand why we should do something else than OpenWrt. Why not use the structure and everything. Instead we do everything different again. We just had a dispute about our firmware and the result is a package-feed which I made compatible with OpenWrt again, so that you can use the imagebuilder. https://github.

[2020-09-15 18:08] CodeFetch commented on #708
The focuses of OpenWrt aren't mesh networks and fitting the needed packages on a router with a small flash. When Gluon can introduce changes in OpenWrt directly, it does so...

I wish Freifunk Franken would too be interested in contributing to a common codebase, but we had a dispute about usability a few years ago which they don't care much about.

It would be great to support it in Gluon, too.

I

[2020-09-15 18:43] PolynomialDivision commented on #708
I don't care about routers with small flash, too. ;) I don't like it when my traffic flows over a very old router with limited cpu and ram capabilities... :/ I always say, use stock-firmware (ubnt) + bridge or use OpenWrt and `kmod-trelay` + bridge traffic to core-router that has more power. U even can bridge adhoc or ibss.
I think it is better to contribute to OpenWrt upstream when doing a fork.

[2020-09-16 20:24] Akira25 commented on #708
I understand the idea of this. But I'd like to mention, that apple-freifunk seems pretty useless to me. At least, if it'd too apple-ish. Everyone housing a Freifunk node, should know at least some very basics, to repair the node himself. That's a very important idea of Freifunk: Giving people back their sovereignty in the digital space. I feel, that most gluon-communities don't care on that.

Don'

[2020-09-16 20:26] Akira25 commented on #708
I propose to close this issue. I consider the question on whether to use gluon or not as partly religious. Such things should be discussed privately. :)

[2020-09-19 08:42] PolynomialDivision commented on #834
Be careful with switch to 5.4 kernel. Many devices have weird bugs and that change to DSA config is not working smoothly.

- https://forum.freifunk.net/t/jffs2-corruption-mit-5-4-kernel/22247
- https://forum.openwrt.org/t/ipq40xx-low-performance-when-sending-traffic

[2020-09-19 21:03] SvenRoederer commented on #834
Which means OpenWrt-19.07? As to my knowledge all target on OpenWrt-master are on Linux 5.4.

[2020-09-19 21:28] PolynomialDivision commented on #834
We have a 19.07.4 release, but most of the time I use master and change back kernel to 4.19.

[2020-09-26 13:12] everloop2 opened #837 "daemon.warn dnsmasq-dhcp: DHCP packet received on br-wan which has no address"
**Firmware Version:**

master: Freifunk Berlin Development 91b6ae0 -> think all others too

**What is the problem?**

syslog is spammed by: `daemon.warn dnsmasq-dhcp[2184]: DHCP packet received on br-wan which has no address` after bootup, (dunno if DSL_BOX related?)

**What is the expected behaviour?**

dnsmasq should not care for br-wan / be quiet

**workaround/solution:**

[code]
insert:
[code]

[2020-09-26 13:52] everloop2 opened #838 "xDSL: WAN not configurable via LuCI due missing packages"
**Firmware Version:**

master: Freifunk Berlin Development 91b6ae0 -> think all others too

**What is the problem?**

boxes got a DSL port (FritzBox 7360x, 3370..) -> WAN not configurable via LuCI due missing packages:

[code]
**What is the expected behaviour?**

WAN should be configurable via LuCI - expecially to switch: DSL_WAN to LAN_WAN

(OpenWRT stable/snapshot needed packages are not missing

[2020-09-26 13:57] everloop2 commented on #832
think we can close due: https://github.com/freifunk-berlin/firmware/pull/802 19.07.4 update.

[2020-09-26 13:57] #832 closed

[2020-09-26 20:50] SvenRoederer commented on #832
Thanks for watching this. Indeed 90 sec should be enough to restart olsr and re-establish the routing.

A sidenote: the affected node was installed with an image dated before this rollback happened and upgraded to a more recent version. As the config was kept, the old "30 secs timeout" was kept also.
But as we only take care for such changes between official releases of our firmware, I don't think

[2020-09-26 20:53] SvenRoederer commented on #837
I've also seen this messages a lot on regular LAN-based uplinks, so nothing special to "DSL-Boxes".
But will this change break getting dhcp-config on the interface?

[2020-09-26 20:55] SvenRoederer commented on #837
Got it ... it's stopping the dnsmasq dhcpserver to listen on this interface. @everloop2 can you PR this?

[2020-09-26 21:24] SvenRoederer commented on #838
other options would be:
* include the *ppp packages in the default packagelists
* or to add a separate packagelist for "DSL-uplinks"
Both options I don't like really, as they "bloat" the image or add another packagelist for this edge-case.

The 2nd option mentioned by @everloop2 seems also very "bloaty", as it will require to add a lot of excludes the the common packagelists. I assume the listed p

[2020-09-26 21:26] SvenRoederer commented on #838
@everloop2 can you post the relevant section of the uci-config?

[2020-09-26 21:31] SvenRoederer commented on #837
Btw. I'm quite sure this is caused by the "no-tunnel" images when ffuplink requests an address on this interface too (#624).

Based on this, shouldn't we also include "ffuplink_wan" to the notinterface list?

[2020-09-27 21:47] SvenRoederer commented on #834
Wasn't you insisting to use pre-build Openwrt images (Imagebuilder)? How do you accomplish it to use a different kernel?

[2020-09-29 21:26] SvenRoederer commented on #708
## "Apple-Freifunk"
is a thing some users want to have, others are more interested in the "behind the scenes".
The "Apple-Freifunk operators" just like the idea of sharing ressources, but don't want to invest much (any) energy (in terms if learning "Freifunk node-operation" knowledge or time) in operating this node. They just want it have it running. So its a weight off between taking care for the

[2020-09-30 21:28] SvenRoederer commented on #736
As nobody seems to have any interest in testing the fix since 10 months, I'll close soon.

[2020-09-30 21:48] SvenRoederer commented on #804
Are there any concerns in switching to managed GitHubActions in place of the broken buildbot?

[2020-10-01 13:27] everloop2 commented on #837
yep, ffuplink_wan also can/should be ignored.

created pull: https://github.com/freifunk-berlin/firmware-packages/pull/212

[2020-10-02 15:10] everloop2 commented on #838
1. set WAN default to DHCP -> would be easy way with less impact on generated images to upstream ones:

disadvantage i've seen so far:
xDSL drivers are loaded and DSL_boxes try to get/search DSL signal (expected behavior) -> results in xDSL connection loop spamming syslog about pppxx and ?wasting some power (cpu / ram..)?

disabling WAN at boot does stop xDSL connection loop

and together with htt

[2020-10-04 19:59] #837 closed

[2020-10-04 21:43] CodeFetch commented on #708
I've thought very much about what you said and I give you the points that: Freifunk should be about building real backbone networks in the long-run and the current single-node VPN approach is a hack. I'd love to have something like the Berlin Backbone in Hannover. Furthermore you are right that it's very frustrating to deal with non-technical people when they have problems, but I think we can fix

[2020-10-06 10:14] CodeFetch commented on #708
This is what I meant with Apple-Freifunk - "You've got to start with the customer experience (...)":
https://youtube.com/watch?v=oeqPrUmVz-o&t=1m30s

[2020-10-13 11:47] #635 closed

[2020-10-13 11:51] #810 closed

[2020-10-13 11:51] #823 closed

[2020-10-13 11:51] #822 closed

[2020-10-13 11:51] #821 closed

[2020-10-13 11:51] #820 closed

[2020-10-13 11:51] #819 closed

[2020-10-13 11:51] #818 closed

[2020-10-13 11:51] #817 closed

[2020-10-13 11:52] #816 closed

[2020-10-13 11:52] #815 closed

[2020-10-13 11:52] #814 closed

[2020-10-13 11:52] #813 closed

[2020-10-13 11:52] #812 closed

[2020-10-13 11:52] #811 closed

[2020-10-15 19:54] mtippmann commented on #708
(wrote a long comment and deleted it after realizing that's probably not the place for it)

[2020-10-15 21:22] #736 closed

[2020-10-18 17:27] SvenRoederer commented on #804
GitHubActions added by merge of #839.
From here we can think how to handle creating, storing and deploying the resulting firmware-images.

[2020-10-18 21:52] SvenRoederer commented on #719
Closing, as there is not feedback since >12 months.

@RobinBrandt87 feel free to reopen with additional information.

[2020-10-18 21:52] #719 closed

[2020-10-20 23:15] SvenRoederer commented on #689
digging around brings https://git.openwrt.org/?p=openwrt/openwrt.git;a=commit;h=201dbb9fe8f61572d66f02942c4482af9b4f2f0c which adds a test that the "ubnt-erx-factory-image" will not be larger than "KERNEL_SIZE" (3MB).
Our current initrd, based on OpenWrt-master (linux 5.4), is around 3342654 bytes (2MB kernel, 1,2MB root-fs) which is above this limit. The list of packages installed in the image is

[2020-10-20 23:18] SvenRoederer commented on #689
@pmelange I'm wondering, how reflashing will fix bad flash-cells ...

[2020-10-22 22:17] SvenRoederer commented on #689
AS the ER-X is not the "working Horse" for Freifunk and also "non-Wifi" its not the boards for the average user. The "advanced" user should be confident in using the "OpenWrt-snapshot factory.tar" (with out Web-GUI) or the TFTP (via TTL-RS232-console).

[2020-10-22 22:17] #689 closed

[2020-10-22 22:19] SvenRoederer commented on #759
See #826 for tracking this

[2020-10-22 22:25] SvenRoederer commented on #834
As per http://lists.infradead.org/pipermail/openwrt-devel/2020-October/031656.html and recent commits in OpenWrt-master 4.19-support gets removed. So 5.4 will get fixed ... or is probably already (https://git.openwrt.org/?p=openwrt/openwrt.git;a=commit;h=86fdc8abed5992a74078b000b5ff9da723b6f46b).

[2020-10-23 22:58] SvenRoederer commented on #760
@boo was you able to check again?

[2020-10-23 23:08] SvenRoederer commented on #155
Since early 2015 there was no progress on this neighter from us nor from upstream (https://github.com/openwrt-routing/packages/pull/78). Honestly it seems nobody will invest time in this at all, so lets close this.

[2020-10-25 10:48] everloop2 commented on #838
think this is good place:

https://github.com/freifunk-berlin/firmware-packages/blob/master/defaults/freifunk-berlin-network-defaults/uci-defaults/freifunk-berlin-network-defaults

[code]

[2020-10-25 11:03] everloop2 commented on #834
yep 5.4 still a bit buggy - did not test much, will be a maintained release - go for it :)

4.19 got USBhang! regression on some [EasyBox803](https://bugs.openwrt.org/index.php?do=details&task_id=2808&string=lantiq&type%5B0%5D=&sev%5B0%5D=&pri%5B0%5D=&due%5B0%5D=&reported%5B0%5D=&cat%5B0%5D=&status%5B0%5D=open&percent%5B0%5D=&opened=&dev=&closed=&duedatefrom=&duedateto=&changedfrom=&changedto=&ope

[2020-10-25 17:15] PolynomialDivision commented on #834
Today I realized that old kernel perform so good, since sometimes they ignore everything u give to them. xD
https://github.com/openwrt/openwrt/commit/a181dbc2e3caa044b74566a5884bc58e986ae458

The support is getting better and better. For socs like ipq40xx (avm frit!box) we have to switch to DSA, since with normal swconfig we have very hard limitations and can not support e.g. isolated ports and ne

[2020-10-25 21:49] SvenRoederer commented on #834
5.4 of OpenWrt master will become next release anyway and the most annoying bug "LANport intermittent link" seems fixed (https://lists.berlin.freifunk.net/pipermail/berlin/2020-October/051732.html) I'll cherry-pick from my fork, to PR this change. As mentioned 5.4 support will become better ...

There is always the option to maintain a openwrt-19.07 based branch if somebody will take care.

[2020-10-31 11:10] ikreb7 commented on #767
Any news?

[2020-10-31 12:25] Akira25 commented on #767
@ikreb7 Could you please try one of these images? They are beta-images based on OpenWrt-19.07.4 I wonder, if that bug happens with them also.

http://download-master.berlin.freifunk.net/falter/

[2020-11-01 16:55] SvenRoederer commented on #836
PR #842 (switch to OpenWrt 20.xx) also switches to WolfSSL.

[2020-11-01 16:55] #836 closed

[2020-11-01 17:02] SvenRoederer commented on #767
@ikreb7 did you run a test with the build special debug-build mentioned in https://github.com/freifunk-berlin/firmware/issues/767#issuecomment-603150331?

[2020-11-01 17:19] SvenRoederer commented on #784
No, it's a specialized packagelist (based on all packages enabled with option "=y" in the config) which results in an initrd-image with a basic UI to flash the final sysupgrade. Esp. usefull for ERX.

---

But what's the intention of this issue?

[2020-11-01 17:23] SvenRoederer commented on #760
So the initial issue is fixed.

[2020-11-01 17:23] #760 closed

[2020-11-01 17:25] SvenRoederer commented on #759
Device-support added in 91bfb591d8381344aef5ce610e933751a19a491c; open issues are tracked in #826 and #292.

[2020-11-01 17:26] SvenRoederer commented on #759
just seen it's about the v3, not the v2

[2020-11-02 12:30] #784 closed

[2020-12-20 21:01] #762 closed

[2020-12-20 21:01] #761 closed

[2020-12-24 22:13] SvenRoederer commented on #402
As the initial issue is solved and there is no activity regarding https://github.com/freifunk-berlin/firmware/issues/402#issuecomment-259816511 since more than 2 years, I close this.

[2020-12-24 22:15] #402 closed

[2021-03-18 18:39] ilippert opened #844 "Failed to execute template 'freifunk/index'"
### Bug report

**What is the problem?**
I installed the firmware http://buildbot.berlin.freifunk.net/buildbot/unstable/ramips-mt76x8/151/notunnel/freifunk-berlin-next-0743518-glinet_gl-mt300n-v2-sysupgrade.bin from scratch. And get this result on a GL-MT300N-V2:

[code]

[2021-03-20 07:59] Akira25 commented on #844
@ilippert The firmware you've installed is an development image from June 2020. Most of the berlin firmware developers started a new fork of this firmware. We've had the first stable release of that fork around a month ago (-> falter-1.1.0). You can download an image for the GL-MT300N-V2 via the new [Firmware-Selector](https://download-master.berlin.freifunk.net/falter/).

If you find any issues w

[2021-03-20 07:59] #844 closed

[2021-03-20 09:29] ilippert commented on #844
Thanks, I am not sure this is reflected at https://util.berlin.freifunk.net/hardware?name=glinet_gl-mt300n-v2 or https://wiki.freifunk.net/Berlin:Firmware#Unterst.C3.BCtzte_Hardware ... I am not sure whom to notify re this...

[2021-03-20 10:09] Akira25 commented on #844
At least in the firmware article in the wiki, we changed that. But maybe we should hide that old table and state more clearly, that is was depracated. I will do something on that later on. :)

[2021-04-12 01:02] sarumpaet commented on #382
Let's continue there: https://github.com/Freifunk-Spalter/packages/issues/159

[2021-04-12 01:02] #382 closed

[2021-04-25 08:57] Akira25 commented on #769
This bug got fixed by https://github.com/Freifunk-Spalter/packages/pull/169 Maybe you want to adopt this solution.

[2021-05-08 14:12] SvenRoederer commented on #834
Master is OpenWrt 21.02 in the mean time.

[2021-05-08 14:12] #834 closed

[2021-05-15 22:21] SvenRoederer opened #855 "OWM-App: verschieben ins globale Freifunk-repo"
Ich denke es macht Sinn die OWM-App komplett ins nach https://github.com/freifunk/openwrt-packages zu verschieben, da der code ja nicht wirklich Berlin-spezifisch ist.
Ich vermute mal der historische Grund ist das niemand den Code damals ins OpenWrt/LuCI repo schieben wollte und kurze Wege bleiben sollten. Da das Freifunk-repo ja nicht zur OpenWrt-organisation gehört, sollten die kurzen Wege beste

[2021-05-16 09:03] Akira25 commented on #855
Ich würde beim derzeitigen Zustand der App dringends davon abraten, diese weiter zu verbreiten. Dies hat mehrere Gründe:

* In ihrem derzeitigen Zustand im [freifunk-packages-repo](https://github.com/freifunk-berlin/firmware-packages/tree/master/utils/luci-app-owm) ist die App sicherheitstechnisch kaum tragbar. Ich glaube kaum, dass der reguläre Freifunk-Nutzer erwartet, dass wir seine MAC-Adresse

[2021-05-16 17:41] SvenRoederer commented on #855
@Akira25 PRs for https://github.com/freifunk-berlin/firmware/issues/585 sind willkommen, wurden aber noch nicht gesichtet. Eine Neuimplementierung wurde von @booo auch angeregt (https://github.com/freifunk-berlin/firmware/issues/819#issuecomment-655435191).

Das OWM-paket ist aber nicht nur der CLI-client sondern auch die LuCI-app, daher gibt es schon Sinn

[2021-05-16 17:47] SvenRoederer commented on #819
Regarding a new API there is some discussion going on at https://github.com/Freifunk-Spalter/packages/issues/159

[2021-05-30 00:19] SvenRoederer commented on #855
https://github.com/freifunk/openwrt-packages/pull/46#issuecomment-850910823

[2021-05-30 00:19] #855 closed

[2021-06-05 22:30] SvenRoederer commented on #696
WeimarNetz implemented a solution, that might easy to integrate  for us too.

[2021-06-06 21:25] SvenRoederer opened #858 "build: selecting an invalid pacakge is silently accepted"
The current buildsystem uses /config to define tha packages that should be build.
Adding an invalid package (typo, package got renamed, package got removed) will silently accepted and as it's just ignored by OpenWrts `make defconfig`. So detecting such problems is not straight forward.

Adding a check, that the listed packages are enabled in the final `.config` of OpenWrt would be great.

[2021-06-06 23:45] #801 closed

[2021-06-13 12:48] SvenRoederer commented on #750
As the firmware master switches to OpenWrt-21.02 the board is now supported officially and can be build by the imagebuilder. I'm not aware of any user-request for supporting this hardware and also had no chance to have a look on it myself, let's close this issue without building images by default.

[2021-06-13 12:48] #750 closed

[2021-06-13 13:05] SvenRoederer commented on #630
## general issue
To reenable all services is a upstream default of OpenWrt. Working on this (for some other issue / project) I published a [patch on the Mailinglist](http://lists.openwrt.org/pipermail/openwrt-devel/2021-January/033068.html). As this change is not covering all cases it was not accepted yet, but should do for us.

## this specific issue
As we don't provide any OpenVPN-ish images any

[2021-06-13 13:13] SvenRoederer commented on #501
I'll close, as firmware is based on OpenWrt-21.02 now where the issue is fixed (https://github.com/freifunk-berlin/firmware/issues/501#issuecomment-567246904) and the problematic Lede-17.01 based Hedy is EOL.

[2021-06-13 13:13] #501 closed

[2021-06-13 13:21] SvenRoederer commented on #591
During the lifetime of this issue OpenWrt made UCI-setting for GPIO, (there might be also a LuCI-app around). So the issue left is that upgrading from pre-Lede-17.01 the missing UCI-section is not created, which should be a separate issue.

[2021-06-13 13:21] #591 closed

[2021-06-13 13:25] SvenRoederer opened #859 "Upgrading from pre-Hedy will lead to missing UCI-section for GPIO-control"
This is based on #591, where @bobster-galore pointed out that such upgrades will not create the UCI-section that a fresh install will make for this PoE-out.

Indeed it sounds more like an upstream-issue, but let's keep it as reminder here.

[2021-06-18 15:08] ilippert opened #862 "From email: wizard cannot be run anymore after initial installation"
Using falter v1.1.0 - 0968abf ath79 - generic

as example: after the first time installation of falter, the wizard cannot be run again. This is unfortunate, because (in earlier versions) it allows users to reconfigure the device without having to go through the shell.

---

Date: Thu, 17 Jun 2021 17:51:36 +0200 (CEST)

To: wirelesslan in Berlin <berlin@berlin.freifunk.net>
Subject: Re: [Berlin-wir

[2021-06-19 08:11] pmelange commented on #862
reference: https://github.com/freifunk-berlin/firmware/issues/661

[2021-06-19 13:48] SvenRoederer commented on #661
As mentioned above and in the referencing issue making it (again to) reliable to rerun will be much appreciated. Just some needs to do so.

[2021-06-19 13:55] SvenRoederer commented on #862
As this issue is essentially a duplicate of #661 I like to close.
It's also referring to foreign @freifunk-spalter project, which we don't track here. As Freifunk-Spalter started with our codebase it's technically not that wrong here, anyways.

[2021-06-19 15:22] #862 closed

[2021-06-27 11:57] SvenRoederer commented on #838
PR #863 should fix the issue by adding the required packages for the relevant boxes only.

[2021-07-06 00:23] SvenRoederer commented on #596
Sadly the mentioned build-log was removed but this message is not caused by building OpenWrt-packages. I can see them, when our Makefile is calling "openwrt/scripts/feeds" during the `make -j4 prepare` target ([siehe log](https://github.com/freifunk-berlin/firmware/files/6766552/ffb-build.log)).
Diese Hinweise kommen also offensichtlich von unserer "Ansteuerung" von make.

[2021-07-18 23:01] SvenRoederer commented on #804
AS mentioned the switch to GithubActions was done some time ago and no issues have been reported so far. Most documentation can be found on the Wiki-page.

closing.

[2021-07-18 23:01] #804 closed

[2021-07-18 23:05] SvenRoederer commented on #791
Done by switching to theme "Freifunk-generic" in 02cfecc51c47d82062f350bef96959a605888821

[2021-07-18 23:05] #791 closed

[2021-07-18 23:30] #696 closed

[2021-07-19 20:08] SvenRoederer commented on #696
By implementing #863 we are using non-ct drivers for all wave1-chips. As all other Freifunk-teams are using too.

[2021-07-20 00:10] Steve-Newcomb commented on #696
I saw that.  No choice.  Well done!

On 7/19/21 4:08 PM, Sven Roederer wrote:

[2021-08-01 13:06] SvenRoederer opened #869 "improve perfomance by distributing irqs over all CPUs"
with the growing number of multi-CPU boards around it might be usefull to ensure that not a single CPU is doing all the work, while others are sleeping only.
A pinning of interrupt to specific CPUs can be done manually, via /proc/ in the kernel. To automate this the package "irqbalance" exists. Reading the documents comes to the point the such pinning will only give a benefit for Multi-CPU systems

[2021-08-01 13:15] SvenRoederer commented on #869
This a dump od /proc/interrupts" from a ubnt ERX after some days uptime. There is only the ethernet-driver which is relevant for pinning. So these boards will likely not qualify for irq-pinning.

[code]

In contrast a Mikrotik RB750Gr3, there is in addition the USB and SDCard. For this board irq-pinning should improve, at least in theory.

[code]

[2021-08-31 12:39] pmelange opened #871 "dhcp defaults: fix commit f4d3207"
commit f4d3207 is trying to assign a value to dhcp.dhcp, which at this point does not exist yet.

dhcp.lan should be used instead.

Found while porting the falter firmware to openwrt 21.02

[2021-08-31 12:39] pmelange commented on #871
https://github.com/freifunk-berlin/firmware-packages/commit/f4d32074dd526693470c37777faef40baa3d3fd1

[2022-06-25 08:34] SvenSFS opened #873 "Edge Router x-sfp erkennt kein Kupfermodul im SFP"
Im aktuellen Image gibt es nach wie vor
Probleme das im EdgeRouter x-sfp keine
Kupfer Module von Digitus erkannt werden.

Das Problem hatte ich schon im März auf der Liste geschrieben
https://lists.berlin.freifunk.net/pipermail/berlin/2022-March/052868.html

SFP Module von Digitus für LWL Funktionieren dagegen.

[2022-06-29 22:42] niccokunzmann opened #874 "No Internet after new flash"
Hi,

I just flashed a router with this image:
`openwrt-21.02.3-freifunk-falter-1.2.2-ath79-generic-tplink_tl-wdr4300-v1-squashfs-factory.bin`

Now, I configures it like this:
Potsdam Community
2.4Ghz mesh: 172.16.0.1
5Ghz mesh: 172.16.1.1
DHCP: 172.16.100.0/24

for my own mesh network locally.

## clients

But, now, when I connect it to the Internet (WAN port) and I connect to the wifi,
I see this

[2022-06-30 07:14] Akira25 commented on #873
Ich glaube, du hast das falsche Repo erwischt. Ich vermute, dass du Falter-firmware nutzt und verschiebe das Issue daher mal ins Falter-Repo.

[2022-06-30 07:17] Akira25 commented on #874
I'm going to move this to the falter-repo, as this issue is related to the falter firmware and not to abandoned hedy-firmware.